In [1]:
import numpy as np
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv(r"C:\Users\Charles\Downloads\processed_crash_data.csv")

In [5]:
df.head()

,n_crash_reports,contains_fatality_words,contains_pedestrian_words,year,day_of_week,hour,day,weekday,month,is_weekend,day_part,distance_to_nairobi,contains_vehicle_words,severity_index,local_crash_density,season,fatality_mention_ratio
0,1,0,0,2018.0,Wednesday,20.0,6.0,2.0,6.0,0,evening,7.165499,0,0,3303,dry,0.054249
1,1,1,0,NaN,NaN,NaN,NaN,NaN,NaN,0,night,56.743166,0,1,1,transitional,0.062719
2,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,night,27.398293,0,0,481,transitional,0.062719
3,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,night,60.469275,0,0,5,transitional,0.062719
4,1,1,0,NaN,NaN,NaN,NaN,NaN,NaN,0,night,4.287275,0,1,7019,transitional,0.062719

In [9]:
df.shape

(25252, 17)

In [11]:
df.columns

Index(['n_crash_reports', 'contains_fatality_words',
       'contains_pedestrian_words', 'year', 'day_of_week', 'hour', 'day',
       'weekday', 'month', 'is_weekend', 'day_part', 'distance_to_nairobi',
       'contains_vehicle_words', 'severity_index', 'local_crash_density',
       'season', 'fatality_mention_ratio'],
      dtype='object')

In [13]:
df.isnull().sum()

n_crash_reports                  0
contains_fatality_words          0
contains_pedestrian_words        0
year                         14993
day_of_week                  14993
hour                         14993
day                          14993
weekday                      14993
month                        14993
is_weekend                       0
day_part                         0
distance_to_nairobi              0
contains_vehicle_words           0
severity_index                   0
local_crash_density              0
season                           0
fatality_mention_ratio           0
dtype: int64

In [17]:
df.isnull().sum()/25252*100

n_crash_reports               0.000000
contains_fatality_words       0.000000
contains_pedestrian_words     0.000000
year                         59.373515
day_of_week                  59.373515
hour                         59.373515
day                          59.373515
weekday                      59.373515
month                        59.373515
is_weekend                    0.000000
day_part                      0.000000
distance_to_nairobi           0.000000
contains_vehicle_words        0.000000
severity_index                0.000000
local_crash_density           0.000000
season                        0.000000
fatality_mention_ratio        0.000000
dtype: float64

In [29]:
df.drop(['year', 'day_of_week', 'hour', 'day', 'weekday', 'month'],inplace=True, axis=1)

In [31]:
df.columns

Index(['n_crash_reports', 'contains_fatality_words',
       'contains_pedestrian_words', 'is_weekend', 'day_part',
       'distance_to_nairobi', 'contains_vehicle_words', 'severity_index',
       'local_crash_density', 'season', 'fatality_mention_ratio'],
      dtype='object')

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25252 entries, 0 to 25251
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   n_crash_reports            25252 non-null  int64
 1   contains_fatality_words    25252 non-null  int64
 2   contains_pedestrian_words  25252 non-null  int64
 3   is_weekend                 25252 non-null  int64
 4   day_part                   25252 non-null  object
 5   distance_to_nairobi        25252 non-null  float64
 6   contains_vehicle_words     25252 non-null  int64
 7   severity_index             25252 non-null  int64
 8   local_crash_density        25252 non-null  int64
 9   season                     25252 non-null  object
 10  fatality_mention_ratio     25252 non-null  float64
dtypes: float64(2), int64(7), object(2)
memory usage: 2.1+ MB

In [35]:
df.head()

,n_crash_reports,contains_fatality_words,contains_pedestrian_words,is_weekend,day_part,distance_to_nairobi,contains_vehicle_words,severity_index,local_crash_density,season,fatality_mention_ratio
0,1,0,0,0,evening,7.165499,0,0,3303,dry,0.054249
1,1,1,0,0,night,56.743166,0,1,1,transitional,0.062719
2,1,0,0,0,night,27.398293,0,0,481,transitional,0.062719
3,1,0,0,0,night,60.469275,0,0,5,transitional,0.062719
4,1,1,0,0,night,4.287275,0,1,7019,transitional,0.062719

In [45]:
df['season'].unique()

array(['dry', 'transitional', 'rainy'], dtype=object)

# Exploratory Questions in Python (Pandas)
### General Crash Trends

### 1.What is the total number of crash reports recorded?

In [52]:
df['n_crash_reports'].sum()

25252

### 2.How does the number of crash reports vary by season?

In [82]:
df['season'].value_counts()

season
transitional    20138
dry              2572
rainy            2542
Name: count, dtype: int64

### 3.How many crashes occurred on weekends compared to weekdays

In [87]:
df['is_weekend'].value_counts()

is_weekend
0    22313
1     2939
Name: count, dtype: int64

### 4.Which day part experiences the most crash reports?

In [96]:
df['day_part'].value_counts()

day_part
night        16295
morning       4018
evening       2636
afternoon     2303
Name: count, dtype: int64

### 5.What is the average crash severity index overall?

In [108]:
df['severity_index'].mean()

0.06051005860921907

6.What is the average crash severity on weekends vs weekdays?
7.Which day part has the highest average severity index?
8.Are crashes involving pedestrians more severe than others?
9.How many crashes mention fatalities?
10.Do reports containing 'vehicle words' have higher severity?
11.What is the average fatality_mention_ratio for each season?
12.Does crash severity increase with distance from Nairobi?
13.Which regions have the highest local crash density?

### 6.What is the average crash severity on weekends vs weekdays?

In [121]:
df.groupby('is_weekend')['severity_index'].mean().sort_values(ascending=False)

is_weekend
1    0.063627
0    0.060099
Name: severity_index, dtype: float64

### 7.Which day part has the highest average severity index?

In [124]:
df.groupby('day_part')['severity_index'].mean().sort_values(ascending=False)

day_part
night        0.062719
morning      0.057740
afternoon    0.056882
evening      0.054249
Name: severity_index, dtype: float64

### 8.Are crashes involving pedestrians more severe than others?

In [134]:
df.groupby('contains_pedestrian_words')['severity_index'].mean()

contains_pedestrian_words
0    0.06051
Name: severity_index, dtype: float64

In [128]:
df.columns

Index(['n_crash_reports', 'contains_fatality_words',
       'contains_pedestrian_words', 'is_weekend', 'day_part',
       'distance_to_nairobi', 'contains_vehicle_words', 'severity_index',
       'local_crash_density', 'season', 'fatality_mention_ratio'],
      dtype='object')

### 9.How many crashes mention fatalities?

In [145]:
df['contains_fatality_words'].sum()

1528

### 10.Do reports containing 'vehicle words' have higher severity?

In [150]:
df.groupby('contains_vehicle_words')['severity_index'].mean()

contains_vehicle_words
0    0.06051
Name: severity_index, dtype: float64

### 11.What is the average fatality_mention_ratio for each season?

In [155]:
df.groupby('season')['fatality_mention_ratio'].mean()

season
dry             0.057239
rainy           0.057398
transitional    0.061321
Name: fatality_mention_ratio, dtype: float64

### 12.Does crash severity increase with distance from Nairobi?

In [158]:
df[[ 'distance_to_nairobi','severity_index']].corr()

                     distance_to_nairobi  severity_index
distance_to_nairobi             1.000000        0.045264
severity_index                  0.045264        1.000000

### 13.Which regions have the highest local crash density?

In [161]:
df['local_crash_density'].describe()

count    25252.000000
mean      3954.517108
std       2942.071604
min          0.000000
25%       1035.000000
50%       3401.500000
75%       7053.000000
max       8936.000000
Name: local_crash_density, dtype: float64